.nav-item-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar {
        background-image: url('../public/Navbar2.png');
        background-blend-mode: overlay;
        background-size: cover;
        background-position: center;
        opacity: 0.9;
        border: 2px solid black;
}

.nav-item-box:hover {
    background-color: #ffffff;
}
.nav-link {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}
.nav-link:visited,
.nav-link:active,
.nav-link:hover {
    color: rgb(255, 255, 255) !important;
}

.navbar a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}

.navbar a:visited,
.navbar a:active,
.navbar a:hover {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}